.team{
    margin-top: 90px;
    background-color: rgba(245, 244, 250, 1);
    padding-top: 90px;
}

.our_team{
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 90px;
}

.members{
    display: flex;
    justify-content: center;
}

.member{
    width: 260px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 90px;
    svg{
        padding-right: 10px;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;    
        svg{
            margin: 12px 0 12px 12px;
            fill: #AFB1B8;
            &:hover{
                fill: aliceblue;
                transition: .5s ease-in-out 0s;
            }
        }
    }
    li div{
        width: 44px;
        height: 44px;
        display: flex;
        border-radius: 50%;
        margin-bottom: 30px;
        &:hover{
            background: #2196F3;
            transition: .5s ease-in-out 0;
        }
        &:hover{
            fill: aliceblue;
            transition: .5s ease-in-out 0s;
        }
        
    }
    li:nth-child(3) svg{
        margin-left: 17px;
    }
    img{
        width: 260px;
    }
    h4{
        font-family: 'Mukta', sans-serif;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin: 30px 0 10px;
    }
    p{
        margin-bottom: 16px;
        font-family: 'Mukta', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
    }
}
.member:not(:nth-child(4)){
    margin-right: 30px;
}
@media screen and (max-width: 480px) {
    .members{
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        li{
            div{
                width: 44px;
                height: 44px;
                display: flex;
                border-radius: 50%;
                margin-bottom: 30px;
                &:hover{
                    background: #2196F3;
                    transition: .5s ease-in-out 0;
                }
            }
        }
        ul{
            svg{
                fill: #AFB1B8;
                &:hover{
                    background: #2196F3;
                    transition: .5s ease-in-out 0;
                }
            }
        }
        img{
            width: 100%;
        }
        h4{
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
            margin: 30px 0 10px;
        }
        p{
            margin-bottom: 16px;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #757575;
        }
    }
    .team{
        
        margin-top: 5%;
        background-color: rgba(245, 244, 250, 1);
        padding-top: 5%;
    }
    .our_team{
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: #212121;
        text-align: center;
        margin-bottom: 5%;
    }
    .member{
        margin-left: 0;
        width: 95%;
        background-color: white;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    .member li div:hover svg{
        fill: aliceblue;
        transition: .5s ease-in-out 0s;
    }
}


@media screen and (min-width: 480px) and (max-width: 768px) {    
    
    .team{
        margin-top: 0;
        padding: 66px 0 60px;
    }
    
    .our_team{
        font-size: 28px;
        margin-bottom: 32px;
    }
    
    .members{
        display: flex;
        justify-content: center;
        margin: 0 1.5%;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    .member{
        width: 354px;
        img{
            width: 354px;
        }
    }
    .clients {
        margin-top: 0;
        padding: 0 0 50px;
        background: white;
        height: 278px;
        margin-bottom: 5%;
        h2{
            font-size: 28px;
            margin-bottom:5%;
        }
        ul{
            flex-wrap: wrap;
            gap: 0;
            div{
                width: 224px;
            }
        }
    }

}