@media screen and (min-width: 320px) and (max-width: 480px) {
html{
    font-family: 'Lato', sans-serif;;
    
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin: 0;
      padding: 0;
    }
    
a{
    text-decoration: none;
}
button{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
    
    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }
    
    body{
        margin: 0;
    }
    
    .site{
        width: 100%;
    }
    .page-header{
        height: 70px;
        border: 1px solid #ECECEC;
        display: flex;
        align-items: center;
    }
.contactmob{
display: none;
}
.nav_2{
    display: none;
}
.container{
    margin-left: 5%;
}
.web{
    color:rgba(33, 150, 243, 1);
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    line-height: 31px;
}

.studio{
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
h1{
    margin-right: auto;
}
/* header end */


/* buttons */

.buttons button{
font-family: 'Lato', sans-serif;
width: 81px;
height: 35px;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
border: 0;
background: #F5F4FA;
border-radius: 4px;
transition: 0.5s;
margin: 2%;
}
.buttons a{
text-decoration: none;
color: #212121;
}
.buttons{
height: 35px;
width: 100%;
margin-top: 3%;
margin-bottom: 5%;
transition: 1s;
display:flex;
flex-wrap: wrap;
flex-direction: row;
}
.buttons button:hover{
background: #2196F3;
color: white;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
/* buttons end */


/* table */


.table{
margin-top: 25%;
margin-left: auto;
margin-right: auto;
width: 95%;
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
gap: 30px;
}
.prod{
    position: relative;
    width: 90%;
    height: 310px;
    background: #FFFFFF;
    border: 2px solid #EEEEEE;
    transition: box-shadow .3s ease-in-out;
    padding-right: 10%;
}
.prod img{
    width: 111%;
    height: 250px;
}
.hidden{
    width: 300px;
    height: 220px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transition: opacity .3s ease-in-out;
    display: flex;
    align-items: center;
}
.prod:hover .hidden{
    opacity: 1;
}
.prod .text, h4{
color: #212121;
font-family: 'Lato', sans-serif;
padding-top: 2%;
}
/* products end */


/* footer */
footer{
    margin-top: 10%;
}
.bottom_footer{
    background: #2F303A;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding-bottom: 5%;
}

.adress
{
    text-align: center;
    margin: 0 0 0 0;
}
.adress h2{
    margin-top: 5%;
}
.adress li:not(:nth-child(1)){
    margin-top: 9px;
}

.adress .email{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.adress .tel{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.adress .place{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.adress h2{
    margin-bottom: 5%
}
.web_2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.studio_2{
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.media {

    margin: 10% 0 0 ;
}

.media ul{

    margin-top: 0;
    display: flex;
    flex-direction: row;
}

.media h4{
    text-align: center;
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.media ul div{ 
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
margin-left: 38px;
}

.media li{
    margin-right: 0;
}

.media ul svg{
    margin: 12px 0 12px 12px;
    fill: white;
    width: 20px;
    height: 20px;
}

.media li:nth-child(3) svg{
    margin-left: 17px;
}

.media li div:hover{
    background: #2196F3;
    transition: .5s ease-in-out 0;
}







}
@media screen and (min-width: 480px) and (max-width: 760px) {
    html{
        font-family: 'Lato', sans-serif;;
        
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          margin: 0;
          padding: 0;
        }
        
    a{
        text-decoration: none;
    }
    button{
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
        
        ul {
          list-style: none;
          padding-left: 0;
          margin: 0;
        }
        
        body{
            margin: 0;
        }
        
        .site{
            width: 100%;
        }
        .page-header{
            height: 90px;
            border: 1px solid #ECECEC;
            display: flex;
            align-items: center;
        }
        
        .container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .web{
            color:black;
            font-family: 'Mukta', sans-serif;
            font-size: 27px;
            line-height: 31px;
        }

        .studio{
            color: black;
            font-family: 'Mukta', sans-serif;
            font-weight: 700;
            font-size: 27px;
            line-height: 31px;
        }
#nav1{
    margin: 10px;
}
#nav2{
    margin: 10px;
}
#nav3{
    margin: 10px;
}
        nav {
            width: 0;
        }
        .nav_menu {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    
        .contacts{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            text-align: left;
}
        
        .nav_menu a{
            font-family: 'Mukta', sans-serif;
            font-size: 18px;
            letter-spacing: 0.02em;
            color: #212121;
        }
        
        .contacts a{
            font-family: 'Mukta', sans-serif;
            font-size: 14px;
            letter-spacing: 0.02em;
            color: #757575;
        }
        
        .contacts svg{
            margin-right: 0;
        }
        
        .contacts li:nth-child(1){
            margin-right: 0;
        }
        
        .nav_menu a:hover, .contacts a:hover{
            color: #2196F3;
        }
    
    /* header end */
    
    
    /* buttons */
    
    .buttons button{
    font-family: 'Lato', sans-serif;
    width: 90px;
    height: 45px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    border: 0;
    margin-right: 15px;
    background: #F5F4FA;
    border-radius: 4px;
    transition: 0.5s;
    }
    .buttons a{
    text-decoration: none;
    color: #212121;
    }
    .buttons{
    height: 35px;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    transition: 1s;
    }
    .buttons button:hover{
    background: #2196F3;
    color: white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    }
    /* buttons end */
    
    
    /* table */
    
    
    .table{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    }
    .prod{
        position: relative;
        width: 310px;
        height: 310px;
        background: #FFFFFF;
        border: 2px solid #EEEEEE;
        transition: box-shadow .3s ease-in-out;
    }
    .prod img{
        height: 230px;
        width: 100%;   
    }
    .hidden{
        width: 100%;
        height: 230px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
        color: #fff;
        position: absolute;
        bottom: 80px;
        background-color: rgba(33, 150, 243, 0.9);
        opacity: 0;
        transition: opacity .3s ease-in-out;
        display: flex;
        align-items: center;
    }
    .prod:hover .hidden{
        opacity: 1;
    }
    .prod .text, h4{
        
    font-size: 19px;
    color: #212121;
    padding-top: 2%;
    }
    /* products end */
    
    
    /* footer */
    footer{
        margin-top: 5%;
    }
        .bottom_footer{
            background: #2F303A;
            display: flex;
            flex-direction: row;
            justify-content: flex;
            width: 100%;
            height: 250px;
            display: flex;
            justify-content: space-evenly;
        }
    
        .adress
        {
            margin: 0;
            margin-top:auto;
            margin-bottom: auto;
            margin-right: 10%;
            text-align:center ;
        }
        
        .adress li:not(:nth-child(1)){
            margin-top: 5%;
        }
        
        .adress .email{
            font-family: 'Mukta', sans-serif;
            font-weight: 400;
            font-size: 15px;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
        
        .adress .tel{
            font-family: 'Mukta', sans-serif;
            font-weight: 400;
            font-size: 15px;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
        
        .adress .place{
            font-family: 'Mukta', sans-serif;
            font-weight: 400;
            font-size: 15px;
            letter-spacing: 0.03em;
            color: #FFFFFF;
        }
        
        .adress h2{
            margin-bottom: 5%;
        }
        
        .web_2{
            font-family: 'Mukta', sans-serif;
            font-weight: 700;
            font-size: 27px;
            letter-spacing: 0.03em;
            color: black;
        }
        
        .studio_2{
            font-family: 'Mukta', sans-serif;
            font-weight:700;
            font-size: 27px;
            letter-spacing: 0.03em;
            color: black;
        }
        
        .media {
            margin: 0;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 10%;
        }
        
        .media ul{
            margin-top: 0;
            display: flex;
            flex-direction: row;
        }
        
        .media h4{
            font-family: 'Mukta', sans-serif;
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-right: 10px;
text-align: center;
        }
        
        .media ul div{ 
            background: rgba(255, 255, 255, 0.1);
            width: 44px;
            height: 44px;
            border-radius: 50%;
        }
        
        .media li{
            margin-top: 5%;
            margin-right: 10px;
        }
        
        .media ul svg{
            margin: 12px 0 12px 12px;
            fill: white;
            width: 20px;
            height: 20px;
        }
        
        .media li:nth-child(3) svg{
            margin-left: 17px;
        }
        
        .media li div:hover{
            background: #2196F3;
            transition: .5s ease-in-out 0;
        }
    
}