header{
    position: absolute;
    width: 1920px;
    height: 800px;
    left: 0px;
    top: 0px;
    
    background-image: url(home-slider-image-1.jpg);
}
.Header{
    padding: 0;
    margin: 0;
    position: relative;
}
header{
    padding: 0;
    margin: 0;
}
header p{
 width: 189px;
height: 22px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 22px;

color: #868686;
flex: none;
order: 1;
flex-grow: 0;
}
.Header{
margin-top: 200px;
margin-left: 375px;
}

html{
    padding: 0;
    margin: 0;
}
header h1{

width: 511px;
height: 285px;

font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 80px;
line-height: 95px;

color: #FFFFFF;

flex: none;
order: 0;
flex-grow: 0;
}
ul{
    margin:0;
    padding: 0;
    list-style: none;
    width: 1168px;
    display: flex;
    justify-content: space-between;
    margin-left: 376px;
    position: absolute;
}
ul li{
    margin-top: 125px;
    
}
ul p {
margin-top: 190px;
margin-left: 46px;
width: 200px;
height: 32px;
left: 419px;
top: 874px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
color: #000000;
}

.icon{
    border-radius: 10px;
    background-position: center;

    background-size:78px;
    background-repeat: no-repeat;
    height:168px;
    width:250px;
    background-color: white;
}

.icon1{
    box-shadow: 0px 15px 60px #4091FB;
    background-image: url(icon-1.jpg);
}
.icon2{
    box-shadow: 0px 15px 60px #7FE7C6;
    background-image: url(icon-2.jpg);
}
.icon3{
    box-shadow: 0px 15px 60px #DF8CC4;
    background-image: url(icon-3.jpg);
}
.icon4{
    box-shadow: 0px 15px 60px #F4A382;
    background-image: url(icon-4.jpg);
}