input{
	width: 200px;
}
#idits1:focus{
	color: green;
	font-weight: bold;
}
#idits2:focus{
	box-shadow: 4px 4px 4px rgb(166, 255, 0);
	color: #FF8306;
}

#idits3:focus{
	width: 400px;
	box-shadow: 4px 4px 4px black;
}

