
.class1:hover{
  font-weight: bold;
  background-color:rgba(213, 127, 200, 0.54);
}
select:focus{
    width: 100px;
    height: 30px;

    background-color:rgb(255, 149, 0);
}
.Navi:hover{
    font-size: 21px;
    font-weight: bold;
}