h2:hover{
text-decoration-line: line-through;

}
h2{
color: chocolate;
font-family: Montserrat;
}
.itsul :nth-child(3n) {
    color: blue;
  }
.itsol :nth-child(2n) {
    color: brown;
  }
ol{
    font-family: Montserrat;
}
ul{
    font-family: Montserrat;
}
h1{
    font-family: Montserrat;
}